DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/licitacoes_db
TEST_DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/licitacoes_test_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=licitacoes_db